@model IEnumerable<fqtd.Areas.Admin.Models.SP_SearchByKeyword_Result>

@{
    ViewBag.Title = "SearchByKeyword";
}
<div class="caption">
    
    @Html.ActionLink("   List ALL   ", "Index")|
    @Html.ActionLink("   SearchByMode   ", "SearchByMode")|
        @Html.ActionLink("SearchByCategory", "SearchByCategory")|
        @Html.ActionLink("SearchByBrand", "SearchByBrand")

</div>
<h2>SearchByKeyword</h2>


<table class="table_list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Keyword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultCount)
        </td>
    </tr>
}

</table>
