@{
    ViewBag.Title = "Kết quả";
    Layout = "~/Views/Shared/MasterResult.cshtml";      
}

<input id="address" type="hidden"  value="@ViewBag.address" />
<input id="range" type="hidden" value="@ViewBag.range" />
<input id="category" type="hidden"  value="@ViewBag.category" />
<input id="brand" type="hidden"  value="@ViewBag.brand" />
<input id="search" type="hidden" value="@ViewBag.search" />
<input id="form" type="hidden" value="@ViewBag.form" />
<input id="NumberOfIntemShow" type="hidden" value="@ViewBag.NumberOfIntemShow" />
<input id="NumberOfIntemAddmore" type="hidden" value="@ViewBag.NumberOfIntemAddmore" />
<div id="menu">
    <p id="tabMap" class="active">
        Bản đồ                    
    </p>
    <p id="tabList" class="inactive">
        Danh sách
    </p>
</div>
<div id="list" class="hidden">
</div>
<div id="content_result">
    <div id="noidungresult">
        <div id="map" class="hidden" itemscope itemtype="http://schema.org/Map">
        </div>
        <div id="loading">
            <img src="/images/loading.gif" />
        </div>        
    </div>
</div>
<div id="footer" class="result">
    <div class="container">
        <p class="text-muted credit">© 2013 by Timdau.vn. All rights reserved</p>
    </div>
</div>
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            FQTD.initResult();
        });
    </script>
}