@{
    ViewBag.Title = "Kết quả";
    Layout = "~/Views/Shared/MasterResult.cshtml";      
}

<input id="address" type="hidden"  value="@ViewBag.address" />
<input id="range" type="hidden" value="@ViewBag.range" />
<input id="category" type="hidden"  value="@ViewBag.category" />
<input id="brand" type="hidden"  value="@ViewBag.brand" />
<input id="search" type="hidden" value="@ViewBag.search" />
<input id="form" type="hidden" value="@ViewBag.form" />
<input id="NumberOfIntemShow" type="hidden" value="@ViewBag.NumberOfIntemShow" />
<input id="NumberOfIntemAddmore" type="hidden" value="@ViewBag.NumberOfIntemAddmore" />

<div id="content_result">
    <div id="menu">
        <p id="tabMap" class="active">
            Bản đồ                    
        </p>
        <p id="tabList" class="inactive">
            Danh sách
        </p>
    </div>
    <div id="noidungresult">
        <div id="map" class="hidden">
        </div>
        <div id="list" class="hidden">
        </div>
        <div id="loading">
            <img src="/images/loading.gif" />
        </div>
        <div id="cactienich" class="nostick">
            <div id="tbtable" style="display: none;">
                <div id="titleproperty">
                    <p>Các tiện ích:</p>
                </div>
                <div id="property">
                </div>
                <div class="filter">
                    <div class="buttonGrey filterbtn" id="btn_filter" >Tìm</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="arrow">
                <div id="hrfClose" style="display: none; cursor: pointer;">
                    <img src="/images/button_close.jpg" />
                </div>
                <div id="hrfOpen" style="cursor: pointer;">
                    <img src="/images/button_open.jpg">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            FQTD.initResult();
        });
    </script>
}