@model IEnumerable<fqtd.Areas.Admin.Models.Brands>

@{
    ViewBag.Title = "Index";
}

<div class="caption">
        @Html.ActionLink("   Create New   ", "Create")
    </div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        alert('hide');
        //hideDetail();
    });
    function showDetail()
    {        
        $(".detail").toggle();
    }
    function hideDetail() {
        $(".detail").slideToggle();
    }
</script>
@using (Ajax.BeginForm("Index", new
    {
        page = ViewBag.keyword
    }, new AjaxOptions { UpdateTargetId = "main" }))
    {
        <table class="table_search">
            <tr>
                <td style="text-align: right">Từ khóa:
                </td>
                <td>@Html.TextBox("keyword", (string)ViewBag.CurrentKeyword, new { id = "keyword" })
                </td>
                <td style="text-align: right"><input type="submit" value="Search" />
                </td>
                <td>(@ViewBag.ItemCount brands)</td>
            </tr>
        </table>
    }
<table class="table_paging">
    <tr><td>
    @Html.Partial("_Paging")</td></tr></table>

<table class="table_list">
    <tr>
        <th>
            Brand Name
        </th>
        <th>
           Brand Name (EN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_BrandType.BrandTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Categories.CategoryName)
        </th>
        <th>Logo</th>
        <th class="detail">
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th class="detail">
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th class="detail">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th class="detail">
            @Html.DisplayNameFor(model => model.ModifyUser)
        </th>
        <th><button onclick="showDetail()">show detail</button></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName_EN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_BrandType.BrandTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Categories.CategoryName)
        </td>
        <td>
            <img src="@Href(System.Configuration.ConfigurationManager.AppSettings["BrandLogoLocation"] + "/" + item.Logo)" width="50" /></td>
        <td class="detail">
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td class="detail">
            @Html.DisplayFor(modelItem => item.CreateUser)
        </td>
        <td class="detail">
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td class="detail">
            @Html.DisplayFor(modelItem => item.ModifyUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrandID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrandID }) |
            @Html.ActionLink("Images", "ImageList", new { id=item.BrandID}) |
            @Html.ActionLink("Categories", "BrandCategories", new { id=item.BrandID}) |
            @Html.ActionLink("Properties", "BrandProperties", new { id=item.BrandID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrandID })
        </td>
    </tr>
}

</table>
<table class="table_paging">
    <tr><td>
    @Html.Partial("_Paging")</td></tr></table>