@model fqtd.Areas.Admin.Models.Groups

@{
    ViewBag.Title = "Edit";
    TempData.Keep();
}

@using (Html.BeginForm("Edit", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.GroupID)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreateUser)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.Keyword_Unsign)


    <div class="editor-label">
        @Html.LabelFor(model => model.GroupName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.GroupName)
        @Html.ValidationMessageFor(model => model.GroupName)
    </div>

    <div class="editor-label">
        GroupName(EN)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.GroupName_EN)
        @Html.ValidationMessageFor(model => model.GroupName_EN)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Keyword)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Keyword, new { @id = "Keyword" })
        @Html.ValidationMessageFor(model => model.Keyword)
    </div>
    <div class="editor-label">
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.IsShow)
        @Html.ValidationMessageFor(model => model.IsShow)
        <label for="IsShow"></label>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
        <script type="text/javascript">
            CKEDITOR.replace("Description");
        </script>
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="editor-label">
    </div>
    <div class="editor-field">
        <input type="submit" value="Save" />|
    @Html.ActionLink("Back to List", "Index", new { keyword = TempData["CurrentKeyword"], page = TempData["CurrentPage"] })
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
